venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzz
*.pywzz
*.pyzzz
*.pywzzz
inswapper_128.onnx
face.jpg
face_swap.jpg
face_swap.png
face_swap.webp
face_swap.gif
face_swap.mp4
face_swap.avi
face_swap.mov
face_swap.mkv
face_swap.flv